body{
    margin: 0;
    padding: 0;
    background-color: #EDE9D5;
}

img {
    display:block;
    margin: 15px 0px 5px 0px;
    height: 200px;
    width: 200px;
}

main{
    padding: 30px 20px 30px 20px;
}

nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #E7AB9A;
}

footer{
    padding: 24px 0px 24px 20px;
    background-color: #E7AB9A;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}


h1{
    color: #617143;
    font-family: 'Oswald', sans-serif;
}

h2{
    font-family: 'Nunito', sans-serif;
}

a:link{
    color: #DF7857;
    text-decoration: none;

}

a:visited{
    color: #E7AB9A;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: #E7AB9A;
    text-decoration: none;
}

.head > a{
    color:white;
    font-size: 20px;
}

.head-main:hover{
    font-weight: bold;
}

.item-name{
    color: #617143;
    font-weight: bold;
    font-size: 40px;
}

tr:nth-child(even){
    background-color: #A9907E;
}

ol{
    padding-right: 100px;
}

.grid-item > a{
    font-size: 17px;
    font-weight: bold;
}
